subject{
	font-family: Cambria;
	font-weight: bolder;
	background:lightsalmon;
}
name{
	font-family: Cambria;
	font-weight: lighter;
	background-color: lightcoral;
	color:lightcyan;
}
age, deg{
	font-family: Cambria;
	font-weight: bolder;
	background-color: lightcoral;
	color:lightcyan;
}
subject, name, age, deg{
	display:block;
}